﻿@model HMS.Areas.Admin.Models.AdminViewModel

@{
    ViewBag.Title = "AddRoomType";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout2.cshtml";
}

<div class="content container">
    <div class="card">
        <div class="header">
            <h3 class="title">Add/Edit Room Status</h3>
            <hr />
        </div>
        @using (Html.BeginForm("AddRoomType", "RoomType", new { Area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal", role = "form", @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div>
                <div class="content">
                    <div class="container">
                     
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.RoomType.RoomTypeId)
                        <div class="row">
                            <div class="col-md-6 form-group">
                                @Html.LabelFor(model => model.RoomType.Name, htmlAttributes: new { @class = "" })
                                <div class="col-sm-12">
                                    @Html.EditorFor(model => model.RoomType.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.RoomType.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        
                            <div class="col-md-6 form-group">
                                @Html.LabelFor(model => model.RoomType.Active, htmlAttributes: new { @class = "" })
                                <div class="col-sm-12">
                                    @Html.EditorFor(model => model.RoomType.Active, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.RoomType.Active, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            
                            <div class="col-md-6 form-group">
                                @Html.LabelFor(model => model.RoomType.Max_Discount, "Maximum Discount", htmlAttributes: new { @class = "" })
                                <div class="col-sm-12">
                                    @Html.EditorFor(model => model.RoomType.Max_Discount, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.RoomType.Max_Discount, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                @Html.LabelFor(model => model.RoomType.DEscription, "Description", htmlAttributes: new { @class = "" })
                                <div class="col-sm-12">
                                    @Html.EditorFor(model => model.RoomType.DEscription, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.RoomType.DEscription, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                @Html.LabelFor(model => model.RoomType.RoomCharge, "Room Charge", htmlAttributes: new { @class = "" })
                                <div class="col-sm-12">
                                    @Html.EditorFor(model => model.RoomType.RoomCharge, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.RoomType.RoomCharge, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            </div>
                        @{

                        }


                        <div class="row">
                            <div class="col-md-11">
                                <input type="submit" value="Add Room Type" class="btn btn-warning pull-right" />
                                <a href="@Url.Action("Index", "RoomStatus")" class="btn btn-primary">Back To List</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                @if (TempData["Message"] != null)
                                {
                                    @Html.Partial("_Message", (HMS.Model.Model.Message)TempData["Message"])
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        }



    </div>
</div>
