﻿@model HMS.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<section class="body-page page-v1" style="background-image: url('../../../../Content/Images/03big.jpg'); background-size: cover;">
    <div class="container">
        <div class="content">
            <h2 class="sky-h3" style="color:#000000">LOGIN ACCOUNT</h2>
            <h5 class="p-v1" style="color:#000000">Enter Your Details</h5>

            @using (Html.BeginForm("Login", "Account", new { Area = "Security", ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">

                    @*<input type="text" class="form-control" name="name" value="" placeholder="User Name">*@
                    <label>Email Address</label>
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @*<input id="password-field" type="password" class="form-control" name="password" placeholder="Password">*@
                    <label>Password</label>
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    <span class="fa fa-fw fa-eye field-icon toggle-password " data-toggle="#password-field"></span>
                </div>
                <button type="submit" class="btn btn-default">LOGIN</button>
            }

        </div>
    </div>
</section>

