﻿@model HMS.Areas.Admin.Models.AdminViewModel

@{
    ViewBag.Title = "AddAccountType";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout2.cshtml";
}

<div class="content container">
    <div class="card">
        <div class="header">
            <h3 class="title">Add/Edit Account Type</h3>
            <hr />
        </div>
        @using (Html.BeginForm("AddAccountType", "AccountType", new { Area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal", role = "form", @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
          
                <div class="content">
                    <div class="">
                   
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.AccountType.AccountTypeId)
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 form-group" >
                                    @Html.LabelFor(model => model.AccountType.Name, htmlAttributes: new { @class = "" })
                                    <div class="col-sm-12">
                                        @Html.EditorFor(model => model.AccountType.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.AccountType.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-6 form-group" style="padding-right:0px !important; margin-right:0px !important;">
                                    @Html.LabelFor(model => model.AccountType.Active, htmlAttributes: new { @class = "" })
                                    <div class="col-sm-12">
                                        @Html.EditorFor(model => model.AccountType.Active, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.AccountType.Active, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        @{

                        }


                        <div class="row">
                            <div class="col-md-12">
                                <input type="submit" value="Add Account" class="btn btn-warning pull-right" />
                                <a href="@Url.Action("Index", "AccountType")" class="btn btn-primary">Back To List</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                @if (TempData["Message"] != null)
                                {
                                    @Html.Partial("_Message", (HMS.Model.Model.Message)TempData["Message"])
                                }
                            </div>
                        </div>
                    </div>
               

            </div>
        }



    </div>
</div>
