﻿body {
/*color:#9ff54a;*/
line-height:1.6;
margin:0;

   font-family: Tahoma;
   margin-bottom:0;
   padding:0;
}
#loginBody{
     background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('Images/03big.jpg');
   
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    padding: 0 0;
    background-attachment: fixed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin-bottom: 0;
}
#regBody{
     background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('Images/03big.jpg');
   
    background-size: cover;
    background-position: center;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    padding: 0 0;
    background-attachment: fixed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin-bottom: 0;
}
#showcase {
    /*background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('../Images/WhatsApp Image 2017-07-22 at 8.56.04 PM.jpeg');*/
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('Images/03big.jpg');
   
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0;
    background-attachment: fixed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin-bottom: 0;
}
    #showcase h1 {
    font-size:50px;
    }

    #showcase h4 {
        margin: 20px 20px;
    }
    #showcase .button {
    font-size:18px;
    text-decoration:none;
    color:white;
    /*border:#D1D0F5 1px solid;*/
    padding: 10px 20px;
    border-radius:10px;
    margin: 10px 10px;
    background-color:#D1D0F5;
    font-size:small;
    }
   
/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/
