﻿@model HMS.Areas.Admin.Models.AdminViewModel

@{
    ViewBag.Title = "AddRoom";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout2.cshtml";
    //Layout = null;
}

<div class="content container">
    <div class="card">
        <div class="header">
            <h3 class="title">Add/Edit Room</h3>
            <hr />
        </div>
        @using (Html.BeginForm("AddRoom", "Room", new { Area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal", role = "form", @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            
                <div class="container">
                    <div class="content">
                      
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Room.RoomId)
                        <div class="row">
                           <div class="col-md-6 form-group">
                            @Html.LabelFor(model => model.Room.Name, htmlAttributes: new { })
                            <div class="col-sm-12">
                                @Html.EditorFor(model =>  model.Room.Name, new { htmlAttributes = new { @class = "form-control border-input" } })
                                @Html.ValidationMessageFor(model => model.Room.Name, "", new { @class = "text-danger" })
                            </div>
                               </div>
                      
                            <div class="col-md-6 form-group">
                            @Html.LabelFor(model => model.Room.Description, htmlAttributes: new { })
                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.Room.Description, new { htmlAttributes = new { @class = "form-control border-input" } })
                                @Html.ValidationMessageFor(model => model.Room.Description, "", new { @class = "text-danger" })
                            </div>
                                </div>
                       
                            <div class="col-md-6 form-group">
                            @Html.LabelFor(model => model.Room.Max_Occupant, htmlAttributes: new { })
                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.Room.Max_Occupant, new { htmlAttributes = new { @class = "form-control border-input" } })
                                @Html.ValidationMessageFor(model => model.Room.Max_Occupant, "", new { @class = "text-danger" })
                            </div>
                        </div>

                            <div class="col-md-6 form-group">
                            @Html.LabelFor(model => model.Room.MaxAdult, htmlAttributes: new { })
                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.Room.MaxAdult, new { htmlAttributes = new { @class = "form-control border-input" } })
                                @Html.ValidationMessageFor(model => model.Room.MaxAdult, "", new { @class = "text-danger" })
                            </div>
                        </div>
                            <div class="col-md-6 form-group">
                            @Html.LabelFor(model => model.Room.NoOfChildren, htmlAttributes: new { })
                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.Room.NoOfChildren, new { htmlAttributes = new { @class = "form-control border-input" } })
                                @Html.ValidationMessageFor(model => model.Room.NoOfChildren, "", new { @class = "text-danger" })
                            </div>
                                </div>
                       
                            <div class="col-md-6 form-group">
                                @Html.LabelFor(model => model.Room.Active, htmlAttributes: new { })
                                <div class="col-sm-12">
                                    @Html.EditorFor(model => model.Room.Active, new { htmlAttributes = new { @class = "form-control border-input" } })
                                    @Html.ValidationMessageFor(model => model.Room.Active, "", new { @class = "text-danger" })
                                </div>
                            </div>
                       
                            <div class="col-md-6 form-group">
                                @Html.LabelFor(model => model.Room.RoomStatus.Name, "Room Status", htmlAttributes: new { })
                                <div class="col-sm-12">
                                    @Html.DropDownListFor(model => model.Room.RoomStatus.RoomStatusId, (IEnumerable<SelectListItem>)ViewBag.RoomStatus, new { @class = "form-control border-input", @id = "plan" })
                                    @Html.ValidationMessageFor(model => model.Room.RoomStatus.RoomStatusId)


                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                @Html.LabelFor(model => model.Room.RoomType.Name, "Room Type", htmlAttributes: new {  })
                                <div class="col-sm-12">
                                    @Html.DropDownListFor(model => model.Room.RoomType.RoomTypeId, (IEnumerable<SelectListItem>)ViewBag.RoomType, new { @class = "form-control border-input", @id = "plan" })
                                    @Html.ValidationMessageFor(model => model.Room.RoomType.RoomTypeId)


                                </div>
                            </div>
                            </div>
                       
                        @{

                        }


                        <div class="row">
                            <div class=" col-md-11">
                                <a href="@Url.Action("Index", "Room")" class="btn btn-primary btn-fill btn-wd">Back To List</a>
                                <input type="submit" value="Add Room" class="btn btn-warning pull-right" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                @if (TempData["Message"] != null)
                                {
                                    @Html.Partial("_Message", (HMS.Model.Model.Message)TempData["Message"])
                                }
                            </div>
                        </div>
                    </div>
                </div>

        }



    </div>
</div>

