﻿@model HMS.Areas.Admin.Models.AdminViewModel

@{
    ViewBag.Title = "AddPaymentType";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout2.cshtml";
}

<div class="content container">
    <div class="card">
        <div class="header">
            <h3 class="title">Add/Edit Account Type</h3><hr />
        </div>
        @using (Html.BeginForm("AddPaymentType", "PaymentType", new { Area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal", role = "form", @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="content">
                <div class="">
                    <div class="form-horizontal">
                    
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.PaymentType.PaymentTypeId)
                        <div class="row">
                            <div class="col-md-6">
                            @Html.LabelFor(model => model.PaymentType.Name, htmlAttributes: new { @class = "" })
                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.PaymentType.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PaymentType.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.PaymentType.Description, htmlAttributes: new { @class = "" })
                                <div class="col-sm-12">
                                    @Html.EditorFor(model => model.PaymentType.Description, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PaymentType.Description, "", new { @class = "text-danger" })
                                </div>
                                </div>
                            </div>

                        @{

                        }


                        <div class="row">
                            <div class="col-md-12">
                                <input type="submit" value="Add" class="btn btn-warning pull-right" />
                                <a href="@Url.Action("Index", "PaymentType")" class="btn btn-primary">Back To List</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                @if (TempData["Message"] != null)
                                {
                                    @Html.Partial("_Message", (HMS.Model.Model.Message)TempData["Message"])
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        }



    </div>
</div>

