﻿@using HMS.Model.Model
@using Microsoft.AspNet.Identity
@using HMSPresentation.Models
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>HMS Admin</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
   
    <!--   Core JS Files   -->
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <!--  Checkbox, Radio & Switch Plugins -->
    <script src="~/Content/assets/js/bootstrap-checkbox-radio.js"></script>
    <!--  Charts Plugin -->
    <script src="~/Content/assets/js/chartist.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="~/Content/assets/js/bootstrap-notify.js"></script>
    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    <!-- Paper Dashboard Core javascript and methods for Demo purpose -->
    <script src="~/Content/assets/js/paper-dashboard.js"></script>
    <!-- Paper Dashboard DEMO methods, don't include it in your project! -->
    <script src="~/Content/assets/js/demo.js"></script>
    <script src="~/Content/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/Content/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>




    <!-- Animation library for notifications   -->
    <link href="~/Content/assets/css/animate.min.css" rel="stylesheet" />
    <!--  Paper Dashboard core CSS    -->
    <link href="~/Content/assets/css/paper-dashboard.css" rel="stylesheet" />
    <!-- Bootstrap core CSS     -->
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="~/Content/assets/css/demo.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="~/Content/assets/css/themify-icons.css" rel="stylesheet">
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.theme.min.css" rel="stylesheet" />
   
    <style>
        .btn {
            border-radius: 0px !important;
            padding:10px;
            margin:5px;
        }
        label{
            margin:0px !important;
            text-transform:uppercase;
            padding:0 0 0 10px;
            font-weight:bold;
            font-size:.8em;

        }
        .card, .panel {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        }
        .form-group{
            padding:0 20px 0 20px !important;
        }
        .form-control {
            height:40px !important;
            border-radius:2px;
            border:1px solid #ccc;
            padding:10px;
        }
    </style>
</head>
@{
    User userInfo = null;
    if (User.Identity.Name != null && User.Identity.Name != "")
    {
        userInfo = Utility.GetUserInfo(@User.Identity.Name);
    }
}
@if (userInfo != null && userInfo.AccountType.AccountTypeId == 1)
{
<body>
    <div class="wrapper">
        <div class="sidebar" data-background-color="white" data-active-color="danger">
            <!--
                Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
                Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
            -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="" class="simple-text">
                        HMS Admin
                    </a>
                </div>
                <ul class="nav">
                    <li class="active">
                        <a href="@Url.Action("Index","Home", new {Area="Admin" })">
                            <i class="ti-panel"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a href="user.html">
                            <i class="ti-user"></i> 
                            <p>User Profile</p>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Room", new { Area = "Admin" })">
                            <i class="ti-view-list-alt"></i>
                            <p>Rooms</p>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "RoomType", new { Area = "Admin" })">
                            <i class="ti-view-list-alt"></i>
                            <p>Room Type</p>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "IdType", new { Area = "Admin" })">
                            <i class="ti-view-list-alt"></i>
                            <p>Id Type</p>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "AccountType", new { Area = "Admin" })">
                            <i class="ti-view-list-alt"></i>
                            <p>Account Type</p>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "PaymentType", new { Area = "Admin" })">
                            <i class="ti-view-list-alt"></i>
                            <p>Payment Type</p>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "RoomStatus", new { Area = "Admin" })">
                            <i class="ti-view-list-alt"></i>
                            <p>Room Status</p>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Country", new { Area = "Admin" })">
                            <i class="ti-view-list-alt"></i>
                            <p>Country</p>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Service", new { Area = "Admin" })">
                            <i class="ti-view-list-alt"></i>
                            <p>Services</p>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ListOfBooking", "Booking", new { Area = "Customers" })">
                            <i class="ti-view-list-alt"></i>
                            <p>View Bookings</p>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("FrontDeskReservations", "Booking", new { Area = "Customers" })">
                            <i class="ti-view-list-alt"></i>
                            <p>Front Desk Reservation</p>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("CheckIn", "Booking", new { Area = "Customers" })">
                            <i class="ti-view-list-alt"></i>
                            <p>Check In Customers</p>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("CheckOut", "Booking", new { Area = "Customers" })">
                            <i class="ti-view-list-alt"></i>
                            <p>Check Out Customers</p>
                        </a>
                    </li>
                    @*<li>
                        <a href="typography.html">
                            <i class="ti-text"></i>
                            <p>Typography</p>
                        </a>
                    </li>*@
                    @*<li>
                        <a href="typography.html">
                            <i class="ti-text"></i>
                            <p>Typography</p>
                        </a>
                    </li>*@
                    @*<li>
                        <a href="icons.html">
                            <i class="ti-pencil-alt2"></i>
                            <p>Icons</p>
                        </a>
                    </li>*@
                    @*<li>
                        <a href="maps.html">
                            <i class="ti-map"></i>
                            <p>Maps</p>
                        </a>
                    </li>*@
                    @*<li>
                        <a href="notifications.html">
                            <i class="ti-bell"></i>
                            <p>Notifications</p>
                        </a>
                    </li>*@
                    <li >
                        @using (Html.BeginForm("LogOff", "Account", new { Area = "Security", ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()


                            <a href="javascript:document.getElementById('logoutForm').submit()"><i class="ti-export"></i><p>Logout</p></a>


                        }
                        @*<a href="upgrade.html">
                            <i class="ti-export"></i>
                            <p>Log Out</p>
                        </a>*@
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar bar1"></span>
                            <span class="icon-bar bar2"></span>
                            <span class="icon-bar bar3"></span>
                        </button>
                        <a class="navbar-brand" href="#">Dashboard</a>
                    </div>
                  
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="ti-panel"></i>
                                    <p>Stats</p>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="ti-bell"></i>
                                    <p class="notification">5</p>
                                    <p>Notifications</p>
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Notification 1</a></li>
                                    <li><a href="#">Notification 2</a></li>
                                    <li><a href="#">Notification 3</a></li>
                                    <li><a href="#">Notification 4</a></li>
                                    <li><a href="#">Another notification</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ti-settings"></i>
                                    <p>Settings</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            @RenderBody()
         

            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="">
                                    Lloydant Business Services 
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Blog
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Licenses
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright pull-right">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script> <i class="fa fa-heart heart"></i><a href="#">Lloydaten Services</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>

   
</body>
}
</html>
