﻿@model HMS.Areas.Admin.Models.AdminViewModel

@{
    ViewBag.Title = "AddRoomStatus";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout2.cshtml";
}

<div class="content container">
    <div class="card">
        <div class="header">
            <h3 class="title">Add/Edit Room Status</h3>
            <hr />
        </div>
        @using (Html.BeginForm("AddRoomStatus", "RoomStatus", new { Area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal", role = "form", @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="content">
             
                   
               
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.RoomStatus.RoomStatusId)
                        <div class="row">
                            <div class="col-md-6 ">
                                @Html.LabelFor(model => model.RoomStatus.Name, htmlAttributes: new { @class = "" })
                                <div class="col-sm-12">
                                    @Html.EditorFor(model => model.RoomStatus.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.RoomStatus.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                @Html.LabelFor(model => model.RoomStatus.Active, htmlAttributes: new { @class = "" })
                                <div class="col-sm-12">
                                    @Html.EditorFor(model => model.RoomStatus.Active, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.RoomStatus.Active, "", new { @class = "text-danger" })
                                </div>
                            </div>
                         </div>

                        @{

                        }

                            <div class="col-md-12">
                                <input type="submit" value="Add Room" class="btn btn-warning pull-right" />
                                <a href="@Url.Action("Index", "RoomStatus")" class="btn btn-primary">Back To List</a>
                            </div>
                 

                        <div class="row">
                            <div class="col-md-12">
                                @if (TempData["Message"] != null)
                                {
                                    @Html.Partial("_Message", (HMS.Model.Model.Message)TempData["Message"])
                                }
                            </div>
                        </div>
                    </div>
            
        }



    </div>
</div>
