﻿@model HMS.Model.Model.Payment

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout2.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<link href="~/Scripts/DataTables-1.10.15/media/css/jquery.dataTables.css" rel="stylesheet" />
<script src="~/Scripts/DataTables-1.10.15/media/js/jquery.dataTables.js"></script>
<link href="~/Scripts/DataTables-1.10.15/extensions/Buttons/css/buttons.dataTables.css" rel="stylesheet" />
<script src="~/Scripts/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.js"></script>
<script src="~/Scripts/DataTables-1.10.15/extensions/Buttons/js/buttons.colVis.js"></script>
<script src="~/Scripts/DataTables-1.10.15/extensions/Responsive/js/dataTables.responsive.js"></script>

<script src="~/Scripts/DataTables-1.10.15/buttons.flash.min.js"></script>
<script src="~/Scripts/DataTables-1.10.15/buttons.html5.min.js"></script>
<script src="~/Scripts/DataTables-1.10.15/buttons.print.min.js"></script>
<script src="~/Scripts/DataTables-1.10.15/jszip.min.js"></script>
<script src="~/Scripts/DataTables-1.10.15/pdfmake.min.js"></script>
<script src="~/Scripts/DataTables-1.10.15/vfs_fonts.js"></script>
@*<link href="~/Content/materialize/css/materialize.min.css" rel="stylesheet" />
<script src="~/Content/materialize/js/materialize.min.js"></script>*@


<script type="text/javascript">
    $(document).ready(function () {

        $('#mytable').DataTable({
            dom: 'Bfrtip',
            ordering: true,
            buttons: [
                {
                    extend: 'copy',
                    exportOptions: {
                        columns: ':visible'
                    }


                },
                {
                    extend: 'csv',
                    exportOptions: {
                        columns: ':visible'
                    }


                },
                {
                    extend: 'excel',
                    exportOptions: {
                        columns: ':visible'
                    }


                },
                {
                    extend: 'pdf',
                    exportOptions: {
                        columns: ':visible'
                    }


                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: ':visible'
                    }


                }, , 'colvis'
            ]
        });

    });


</script>


@if (Model != null)
{
    <div class="col-md-10 col-md-offset-1 col-sm-offset-0" style="margin-top:15px;">

        <div class="col-md-12">
            <div class="card">

                <div class="header">
                    <h3 class="title">Customer Details</h3><hr />
                </div>

                <dl class="dl-horizontal">
                    <dt>Name: </dt>
                    <dd>@Model.Person.FullName.ToUpper()</dd>

                    <dt>Email Address: </dt>
                    <dd>@Model.Person.Email</dd>
                    @if (Model.Person.Gender != null)
                    {
                        <dt>Sex: </dt>
                                <dd>@Model.Person.Gender.Name</dd>
                    }


                    <dt>Mobile Phone: </dt>
                    <dd>@Model.Person.MobilePhone</dd>

                    <dt> Address: </dt>
                    <dd>@Model.Person.Address</dd>

                    @if (Model.Person.Country != null)
                    {
                        <dt>Nationality: </dt>
                                <dd>@Model.Person.Country.Name.ToUpper()</dd>
                    }
                    @if (Model.Person.IdType != null)
                    {
                        <dt>Id Type: </dt>
                                <dd>@Model.Person.IdType.Name</dd>
                    }


                </dl>
                <br />
            </div>

        </div>






      
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h3 class="title">Payment Details</h3><hr />
                    </div>
          
             

                                <dl class="dl-horizontal">
                                    <dt>Payment Amount : </dt>
                                    <dd>@Model.Amount</dd>

                                    <dt>Payment Date: </dt>
                                    <dd>@Model.DatePaid</dd>
                                    @if (Model.PaymentGateWay != null)
                                    {
                                        <dt>Payment Gateway </dt>
                                        <dd>@Model.PaymentGateWay</dd>
                                    }


                                    <dt>Payment Pin </dt>
                                    <dd>@Model.Pin</dd>

                                    <dt> Description: </dt>
                                    <dd>@Model.Description</dd>

                                    @*@if (Model.PaymentType != null)
                                        {
                                            <dt>Payment Type: </dt>
                                            <dd>@Model.PaymentType.Name</dd>
                                        }*@
                                    @if (Model.Service != null)
                                    {
                                        <dt>Services: </dt>
                                        <dd>@Model.Service.Name</dd>
                                    }


                                </dl>
                           <br />
                        </div>
                  
        </div>

            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h3 class="title">Booking Details</h3><hr />
                    </div>
                   <div>
                                <dl class="dl-horizontal">

                                    @if (Model.RoomBookings.RoomType != null)
                                    {
                                        <dt>Room Type </dt>
                                        <dd>@Model.RoomBookings.RoomType.Name</dd>
                                    }


                                    <dt>Booking Date: </dt>
                                    <dd>@Model.RoomBookings.BookingDate</dd>

                                    <dt>Check In Date: </dt>
                                    <dd>@Model.RoomBookings.CheckInDate</dd>

                                    <dt>Departure Date: </dt>
                                    <dd>@Model.RoomBookings.DepatureTime</dd>

                                    <dt> Number Of Nights </dt>
                                    <dd>@Model.RoomBookings.NumOfNight</dd>
                                    <dt> Number Of Rooms </dt>
                                    <dd>@Model.RoomBookings.NumOfRooms</dd>

                                    <dt> Status </dt>
                                    <dd>@Model.RoomBookings.CheckInStatus.Name</dd>


                                </dl><br />
                            </div>
                        </div>
                    </div>

                </div>
            
 
}

