﻿@model IEnumerable<HMS.Model.Model.Room>


@{
    ViewBag.Title = "Executive";
    Layout = "~/Areas/Customers/Views/Shared/_CustomerLayout.cshtml";
}
<link href="~/Content/materialize/css/materialize.min.css" rel="stylesheet" />
<script src="~/Content/materialize/js/materialize.min.js"></script>


<div class=" container row">
    @*@if (TempData["Message"] != null)
    {
        @Html.Partial("_Message", (HMS.Model.Model.Message)TempData["Message"])
    }*@
    <h4>Executive Plan</h4>
    @if (Model == null)
    {
        return;
    }
    @foreach (var item in Model)
    {
        <div class="col-md-4">


            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">

                    @*@Html.DisplayFor(model => item.RoomImageUrl)*@
                    @*<img src="@Url.Content("~/Content/Images/")" class="activator" style="height:300px; width:350px" />*@
                    <img src="~/Content/Images/03.jpg" class="activator" style="height:300px; width:350px" />
                    @*<img class="activator" src="~/Content/Images/01room010101010sdfsd_AK.jpg" />*@
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">
                        <a href="@Url.Action("Executive", "Home", new { id = item.RoomId })" class="btn btn-default">Book</a>
                        <i class="material-icons right"> Details</i>
                    </span>

                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Basic Plan<i class="material-icons right">close</i></span>
                    <p>Room Name: @item.Name</p>
                    <p>Room Description: @item.Description</p>
                    <p>Room Type: @item.RoomType.Name<p />
                    <p>Maximum Adult: @item.MaxAdult<p />
                    <p>Maximum Occupant: @item.Max_Occupant<p />
                    <p>Amount:₦ @item.RoomType.RoomCharge</p>

                    <p>Description: @item.MaxAdult</p>

                    <a href="@Url.Action("Executive", "Home", new { id = item.RoomId })" class="btn btn-default">Book</a>


                </div>
            </div>
        </div>
    }
</div>
