﻿@model HMS.Areas.Admin.Models.AdminViewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout2.cshtml";
}

<!DOCTYPE html>
@if (TempData["Message"] != null)
            {
    @Html.Partial("_Message", (HMS.Model.Model.Message)TempData["Message"])
}
<div class="content container">
    <div class="card">
        <div class="header">
            <h3 class="title">Check In Customer</h3>
            <hr />
        </div>
        @using (Html.BeginForm("FinalCheckIn", "Booking", new { Area = "Customers" }, FormMethod.Post, new { @class = "form-horizontal", role = "form", @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="content">
                <div class="">
                    <div class="form-horizontal">
                    
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Room.RoomId)
                        @Html.HiddenFor(model => model.Payment.PaymentId)
                        @Html.HiddenFor(model => model.RoomBookings.RoomBookingId)
                        @*<div class="row">
                            @Html.LabelFor(model => model.RoomBookings.CheckInDate,"Check In Date", htmlAttributes: new { @class = "" })
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.RoomBookings.CheckInDate, new { htmlAttributes = new { @class = "form-control", @id = "datepicker" } })
                                @Html.ValidationMessageFor(model => model.RoomBookings.CheckInDate, "", new { @class = "text-danger" })
                            </div>
                        </div>*@
                      

                        <div class="row">
                            <div class="col-md-6">
                            @Html.LabelFor(model => model.RoomBookings.CheckInStatus, "Check In Status", htmlAttributes: new { @class = "" })
                            <div class="col-sm-12">
                                @Html.DropDownListFor(model => model.RoomBookings.CheckInStatus, (IEnumerable<SelectListItem>)ViewBag.CheckInStatus, new { @class = "form-control", @id = "plan", @style = "margin:10px;" })
                                @Html.ValidationMessageFor(model => model.RoomBookings.CheckInStatus)


                            </div>
                        </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.PromoCode, "Promo Code", htmlAttributes: new { @class = "" })
                                <div class="col-sm-12">
                                    @Html.EditorFor(model => model.PromoCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Code if any!", @style = "margin:10px;" } })
                                    @Html.ValidationMessageFor(model => model.PromoCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            </div>

                        @{

                        }


                        <div class="row">
                            <div class="col-md-12">
                                <input type="submit" value="Check In" class="btn btn-success pull-right" />
                                <a href="@Url.Action("RoomCheckIn", "Booking", new { id= Model.Room.RoomId})" class="btn btn-primary" style="margin:10px;">Back To List</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                @if (TempData["Message"] != null)
                                {
                                    @Html.Partial("_Message", (HMS.Model.Model.Message)TempData["Message"])
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
                            }



    </div>
</div>