﻿@model HMS.Areas.Admin.Models.AdminViewModel

@{
    ViewBag.Title = "FrontDeskPayment";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout2.cshtml";
}

<div class="content container">
    <div class="card">
        <div class="header">
            <h3 class="title">Front Desk Payment</h3>
            <hr />
        </div>

        @using (Html.BeginForm("FrontDeskPayment", "Booking", new { Area = "Customers" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="content">
                <div style="padding:0 20px;">
                    <div class="">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="row">
                            <div class="clearfix"></div>

                                @Html.HiddenFor(model => model.RoomBookings.RoomBookingId, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.HiddenFor(model => model.RoomBookings.Person.PersonId, htmlAttributes: new { @class = "control-label col-md-2" })


                            <div class="col-md-6">

                                <div class="form-group">
                                    <label>Amount <span>*</span></label>

                                    @Html.EditorFor(model => model.Payment.Amount, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Payment.Amount, "", new { @class = "text-danger" })
                                </div>


                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Description <span>*</span></label>
                                    @Html.EditorFor(model => model.Payment.Description, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Payment.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    @Html.EditorFor(model => model.Person.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Person.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Reference Number <span>*</span></label>
                                    @Html.EditorFor(model => model.Payment.Pin, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Payment.Pin, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <input type="submit" value="Make Payment" class="btn btn-info pull-right" />

                        </div>
                    </div>

                    <!-- /row -->
                </div>
                <!-- /container -->
            </div>

        }
    </div>


</div>

