﻿@model HMS.Areas.Admin.Models.AdminViewModel

@{
    ViewBag.Title = "List Of Booking";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout2.cshtml";
}


<link href="~/Scripts/DataTables-1.10.15/media/css/jquery.dataTables.css" rel="stylesheet" />
<script src="~/Scripts/DataTables-1.10.15/media/js/jquery.dataTables.js"></script>
<link href="~/Scripts/DataTables-1.10.15/extensions/Buttons/css/buttons.dataTables.css" rel="stylesheet" />
<script src="~/Scripts/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.js"></script>
<script src="~/Scripts/DataTables-1.10.15/extensions/Buttons/js/buttons.colVis.js"></script>
<script src="~/Scripts/DataTables-1.10.15/extensions/Responsive/js/dataTables.responsive.js"></script>

<script src="~/Scripts/DataTables-1.10.15/buttons.flash.min.js"></script>
<script src="~/Scripts/DataTables-1.10.15/buttons.html5.min.js"></script>
<script src="~/Scripts/DataTables-1.10.15/buttons.print.min.js"></script>
<script src="~/Scripts/DataTables-1.10.15/jszip.min.js"></script>
<script src="~/Scripts/DataTables-1.10.15/pdfmake.min.js"></script>
<script src="~/Scripts/DataTables-1.10.15/vfs_fonts.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        $('#mytable').DataTable({
            dom: 'Bfrtip',
            ordering: true,
            buttons: [
                {
                    extend: 'copy',
                    exportOptions: {
                        columns: ':visible'
                    }


                },
                {
                    extend: 'csv',
                    exportOptions: {
                        columns: ':visible'
                    }


                },
                {
                    extend: 'excel',
                    exportOptions: {
                        columns: ':visible'
                    }


                },
                {
                    extend: 'pdf',
                    exportOptions: {
                        columns: ':visible'
                    }


                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: ':visible'
                    }


                }, , 'colvis'
            ]
        });

    });

    function showModal() {
        $('#myModal').appendTo("body").modal('show');
    }
</script>

<!-- Modal -->
<div class="modal fade " id="myModal" style="z-index:100000000000000000000000000000" data-toggle="modal" data-target=".bs-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="modal-title" id="myModalLabel">Make A Reservation</p>
            </div>
          

        </div>
    </div>
</div>

<div class="content ">
    <div class="col-md-12">
        @if (TempData["Message"] != null)
        {
            @Html.Partial("_Message", (HMS.Model.Model.Message)TempData["Message"])
        }
    </div>

    <p>

        <a class="btn btn-default" href="@Url.Action("MakeReservation","Booking")"><i class="fa fa-plus"></i>Make A Reservation</a>
    </p>
    <table class="table table-bordered table-hover table-striped display" id="mytable">
        <thead>
            <tr>
                <th>
                    Room Type
                </th>
                <th>
                    Full Name
                </th>
                <th>
                    Booking Date
                </th>
                <th>
                    Number Of Night
                </th>



            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.RoomBooking)
            {
            <tr>
                <td>

                    @Html.DisplayFor(modelItem => item.RoomType.Name)

                </td>
                <td>
                    <a href="@Url.Action("Details","Booking", new { id = item.RoomBookingId})">
                        @Html.DisplayFor(modelItem => item.Person.FullName)
                    </a>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.BookingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumOfNight) Nights
                </td>


            </tr>
            }
        </tbody>
    </table>
</div>


