﻿@model HMS.Areas.Admin.Models.AdminViewModel
@{
    ViewBag.Title = "MakeReservation";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout2.cshtml";
}

<div class="content container">
    <div class="card">
        <div class="header">
            <h3 class="title">Make A New Reservation</h3>
            <hr />
        </div>

        @using (Html.BeginForm("MakeReservation", "Booking", new { Area = "Customers" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="content">
                <div style="padding:0 20px;">
                    <div class="">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="row">
                            <div class="clearfix"></div>
                            
                                @*@Html.HiddenFor(model => model.RoomType.RoomTypeId, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.HiddenFor(model => model.RoomBookings.ArrivalTime, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.HiddenFor(model => model.RoomBookings.CheckOutDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.HiddenFor(model => model.RoomBookings.NumOfNight, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.HiddenFor(model => model.RoomBookings.NumOfRooms, htmlAttributes: new { @class = "control-label col-md-2" })*@




                           
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <label>First Name <span>*</span></label>

                                            @Html.EditorFor(model => model.Person.Surname, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Person.Surname, "", new { @class = "text-danger" })
                                        </div>


                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Last Name <span>*</span></label>
                                            @Html.EditorFor(model => model.Person.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Person.FirstName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                             
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Email</label>
                                            @Html.EditorFor(model => model.Person.Email, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Person.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Address <span>*</span></label>
                                            @Html.EditorFor(model => model.Person.Address, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Person.Address, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                               
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Gender &nbsp;<span>*</span></label>
                                            @Html.DropDownListFor(model => model.Person.Gender.GenderId, (IEnumerable<SelectListItem>)ViewBag.Gender, new { @class = "form-control", @id = "plan" })
                                            @Html.ValidationMessageFor(model => model.Person.Gender.GenderId)
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Country &nbsp;<span>*</span></label>
                                            @Html.DropDownListFor(model => model.Person.Country.CountryId, (IEnumerable<SelectListItem>)ViewBag.Country, new { @class = "form-control", @id = "plan" })
                                            @Html.ValidationMessageFor(model => model.Person.Country.CountryId)
                                        </div>
                                    </div>
                              
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>ID Type &nbsp; <span>*</span></label>
                                        @Html.DropDownListFor(model => model.Person.IdType.IdTypeId, (IEnumerable<SelectListItem>)ViewBag.IdType, new { @class = "form-control", @id = "plan" })
                                        @Html.ValidationMessageFor(model => model.Person.IdType.IdTypeId)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Phone &nbsp;<span>*</span></label>
                                        @Html.EditorFor(model => model.Person.MobilePhone, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Person.MobilePhone, "", new { @class = "text-danger" })


                                    </div>
                                </div>
                              
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Room Type &nbsp; <span>*</span></label>
                                            @Html.DropDownListFor(model => model.RoomBookings.RoomType.RoomTypeId, (IEnumerable<SelectListItem>)ViewBag.RoomType, new { @class = "form-control", @id = "plan" })
                                            @Html.ValidationMessageFor(model => model.RoomBookings.RoomType.RoomTypeId)
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Arival Date &nbsp;<span>*</span></label>
                                            @Html.EditorFor(model => model.RoomBookings.ArrivalTime, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                            @Html.ValidationMessageFor(model => model.RoomBookings.ArrivalTime, "", new { @class = "text-danger" })




                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Number Of Night</label>
                                            @Html.EditorFor(model => model.RoomBookings.NumOfNight, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.RoomBookings.NumOfNight, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Number Of Rooms <span>*</span></label>
                                            @Html.EditorFor(model => model.RoomBookings.NumOfRooms, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.RoomBookings.NumOfRooms, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <input type="submit" value="Continue" class="btn btn-info pull-right" />

                                </div>
                            </div>

                            <!-- /row -->
                        </div>
                        <!-- /container -->
                    </div>
                    
        }
    </div>


    </div>