﻿@model HMS.Areas.Customers.Models.CustomerViewModel

@{
    ViewBag.Title = "Receipt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="http://www.position-absolute.com/creation/print/jquery.printPage.js"></script>
<script type="text/javascript">
        $("#aPrint").on('click', function () {
            //var d = document.getElementById("#aPrint");
            var printable = document.getElementById("printable").innerHTML;
            document.body.innerHTML = printable;
            window.print();

        });


</script>
<div class="container" id="printable">
    <div class="card">
        <div class=" row">
         
            <div class="col-md-2">&nbsp;</div>
            <div class=" col-md-8 col-md-offset-2 col-sm-offset-0" 
                 style=" padding:0; box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important; margin:30px;">
                <div class="row">
                    <div class="col-md-12">
                        <div style="padding:20px; background:#f2f2f2;  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */color:#fff; ">
                            <img src="~/Content/Images/logo.png" alt="logo" height="60" />
                            <p style="color:#333; font-weight:bold;">Lagos | Lagos State, Nigeria.</p>
                        </div>
                      
                
                        <div style="padding:0 20px;">
                            <h2 style="font-weight:300; margin-bottom:18px;">Payment Receipt</h2>
                            <table class="table table-hover">

                                <tbody>
                                    <tr>
                                        <td> Fullname </td>
                                        <td>  @Model.Payment.Person.FullName </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Phone Number
                                        </td>
                                        <td> @Model.Payment.Person.MobilePhone</td>
                                    </tr>
                                    <tr>
                                        <td>Room Type</td>
                                        <td> @Model.RoomBooking.RoomType.Name </td>
                                    </tr>
                                    <tr>
                                        <td>Payment Status </td>
                                        <td> @Model.Payment.PaymentType.Name</td>
                                    </tr>
                                    <tr>
                                        <td>Check In Date </td>
                                        <td>@Model.RoomBooking.CheckInDate.ToLongDateString()</td>
                                    </tr>
                                    <tr>
                                        <td>Details</td>
                                        <td> Receipt No: @Model.Payment.Pin </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Total @Model.Payment.Amount Naira Only
                                        </td>
                                        <td>
                                            Being Payment for @Model.RoomBooking.RoomType.Name @DateTime.Now
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Signature of Payer
                                        </td>
                                        <td>
                                            Signature of Revenue Collector
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                        </div>
                    </div>







                </div>







                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <thead>
                            </thead>
                            <tbody>

                                <tr>
                                    <td class="text-left">

                                        @if (Model.Payment.barcodeImageUrl != null)
                                        {
                                            <img src="@Model.Payment.barcodeImageUrl" height="50" />
                                        }
                                    </td>
                                    <td> &nbsp; </td>
                                    <td class="text-left text-uppercase">
                                        <small><br />Powered By Lloydant</small>
                                    </td>
                                    <td class="text-center text-danger"><h4><strong></strong></h4></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    @*<button id="aPrint" class="print btn btn-white btn-lg "><i class="fa fa-print mr5"></i> Print Slip</button>*@
    <a class="btn btn-primary btn-lg col-lg-offset-5" href="@Url.Action("Index", "Home", new { Area="Admin"})"><i class="fa fa-home mr5"></i>Back to Home</a>

</div>
