﻿@model HMS.Areas.Customers.Models.CustomerViewModel
@{
    ViewBag.Title = "RoomBook";
    Layout = "~/Areas/Customers/Views/Shared/_CustomerLayout.cshtml";
}

<link href="~/Content/materialize/css/materialize.min.css" rel="stylesheet" />
<script src="~/Content/materialize/js/materialize.min.js"></script>

<body id="regBody">
    @using (Html.BeginForm("RoomBook", "Booking", new { Area = "Cutomers" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class=" container row myForm" id="regBody">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Book Room</h3>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Process Booking</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @Html.HiddenFor(model => model.Room.RoomId, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.HiddenFor(model => model.User.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.HiddenFor(model => model.Room.RoomType.RoomTypeId, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.HiddenFor(model => model.User.Person.PersonId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="row">
                            @Html.LabelFor(model => model.RoomBooking.CheckInDate, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">

                                @Html.EditorFor(model => model.RoomBooking.CheckInDate, new { htmlAttributes = new { @class = "form-control"} })
                                @Html.ValidationMessageFor(model => model.RoomBooking.CheckInDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            @Html.LabelFor(model => model.RoomBooking.CheckOutDate, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.RoomBooking.CheckOutDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.RoomBooking.CheckOutDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            @Html.LabelFor(model => model.Payment.PaymentType.PaymentTypeId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.Payment.PaymentType.PaymentTypeId, (IEnumerable<SelectListItem>)ViewBag.PaymentType, new { @class = "form-control", @id = "plan" })
                                @Html.ValidationMessageFor(model => model.Payment.PaymentType.PaymentTypeId)


                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Proceed" class="btn btn-default" />
                                @*<a href="@Url.Action("Index", "Home")" class="btn btn-default">Back To Room List</a>*@
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @if (TempData["Message"] != null)
                {
                                    @Html.Partial("_Message", (HMS.Model.Model.Message)TempData["Message"])
                                }
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
               
            </div>

    }


</body>

