﻿@model IEnumerable<HMS.Model.Model.Room>
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout2.cshtml";
}

<link href="~/Scripts/DataTables-1.10.15/media/css/jquery.dataTables.css" rel="stylesheet" />
<script src="~/Scripts/DataTables-1.10.15/media/js/jquery.dataTables.js"></script>
<link href="~/Scripts/DataTables-1.10.15/extensions/Buttons/css/buttons.dataTables.css" rel="stylesheet" />
<script src="~/Scripts/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.js"></script>
<script src="~/Scripts/DataTables-1.10.15/extensions/Buttons/js/buttons.colVis.js"></script>
<script src="~/Scripts/DataTables-1.10.15/extensions/Responsive/js/dataTables.responsive.js"></script>

<script src="~/Scripts/DataTables-1.10.15/buttons.flash.min.js"></script>
<script src="~/Scripts/DataTables-1.10.15/buttons.html5.min.js"></script>
<script src="~/Scripts/DataTables-1.10.15/buttons.print.min.js"></script>
<script src="~/Scripts/DataTables-1.10.15/jszip.min.js"></script>
<script src="~/Scripts/DataTables-1.10.15/pdfmake.min.js"></script>
<script src="~/Scripts/DataTables-1.10.15/vfs_fonts.js"></script>

<script type="text/javascript">
    var popup
    $(document).ready(function () {

        $('#mytable').DataTable({
            dom: 'Bfrtip',
            ordering: true,
            buttons: [
                {
                    extend: 'copy',
                    exportOptions: {
                        columns: ':visible'
                    }


                },
                {
                    extend: 'csv',
                    exportOptions: {
                        columns: ':visible'
                    }


                },
                {
                    extend: 'excel',
                    exportOptions: {
                        columns: ':visible'
                    }


                },
                {
                    extend: 'pdf',
                    exportOptions: {
                        columns: ':visible'
                    }


                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: ':visible'
                    }


                }, , 'colvis'
            ]
        });

    });

    function PopupForm(url) {
        var formDiv = $('</div>');
        $.get(url)
            .done(function (response) {
                formDiv.html(response);

                popup = formDiv.dialog({

                    autoOpen: true,
                    resizable: false,
                    title: 'Add New Book',
                    height: 500,
                    width: 700,
                    close: function () {
                        popup.dialog('destroy').remove();
                    }
                });
            });
    }
</script>





<div class="content ">
    <div class="col-md-12">
        @if (TempData["Message"] != null)
        {
            @Html.Partial("_Message", (HMS.Model.Model.Message)TempData["Message"])
        }
    </div>
   <h3>Available Rooms </h3>
   
   
    <table class="table table-bordered table-hover table-striped display" id="mytable">
        <thead>
            <tr>
                <th>
                    Room Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Max Occupant
                </th>
                <th>
                    Max Adult
                </th>
                <th>
                    Room Status
                </th>
                <th>
                    Room Type
                </th>
               
                @*<th>
                        @Html.DisplayNameFor(model => model.Active)
                    </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody style="color:black">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Max_Occupant)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaxAdult)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.RoomStatus.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomType.Name)
                    </td>
                  
                    <td>
                        <a class="btn btn-default" href="@Url.Action("FinalCheckIn", "Booking", new { id = item.RoomId })"><i class="fa fa-pencil"></i>Check In</a>
                        @*<a class="btn btn-default" href="@Url.Action("FinalCheckIn", "Booking", new { id = item.RoomId })"><i class="fa fa-pencil"></i>Check Out</a>*@

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
