﻿@using HMS.Model.Model
@using Microsoft.AspNet.Identity
@using HMSPresentation.Models
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>lloydant Hotels</title>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <!--jquery.min.js-->

    <script src="~/Content/index_files/js/jquery.min.js"></script>
    <!--bootstrap.min.js-->
    <script src="~/Content/index_files/js/bootstrap.min.js"></script>
    <!--owl.carousel.min.js-->
    <script src="~/Content/index_files/js/owl.carousel.min.js"></script>
    <!--magnific-popup-1.1.0.js-->
    <script src="~/Content/index_files/js/magnific-popup-1.1.0.js"></script>
    <!--jquery.nice-select.min.js-->
    <script src="~/Content/index_files/js/jquery.nice-select.min.js"></script>
    <!--jquery.waypoints.4.0.0.min.js-->
    <script src="~/Content/index_files/js/jquery.waypoints.4.0.0.min.js"></script>
    <!--jquery.counterup.min.js-->
    <script src="~/Content/index_files/js/jquery.counterup.min.js"></script>
    <!--jquery.slicknav.min.js-->
    <script src="~/Content/index_files/js/jquery.slicknav.min.js"></script>
    <!--main.js-->
    <script src="~/Content/index_files/js/main.js"></script>
    <!--My Srcipt-->
    <script src="~/Scripts/MyScript.js"></script>


    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <!--bootstrap.min.css -->
    <link href="~/Content/index_files/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <!--font-awesome.min.css -->
    <link href="~/Content/index_files/font-awesome.min.css" rel="stylesheet" />
    <!--material-design-iconic-font.min.css -->
    <link href="~/Content/index_files/material-design-iconic-font.css" rel="stylesheet">
    <!--owl.carousel.min.css -->
    <link href="~/Content/index_files/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/index_files/owl.theme.default.css" rel="stylesheet">
    <link href="~/Content/index_files/materialdesignicons.css" rel="stylesheet">

    <!--magnific-popup.css -->
    <link href="~/Content/index_files/magnific-popup.css" rel="stylesheet">
    <!--nice-select.css -->
    <link href="~/Content/index_files/nice-select.css" rel="stylesheet">
    <!--slicknav.min.css -->
    <link href="~/Content/index_files/slicknav.min.css" rel="stylesheet">
    <!--style.css -->
    <link href="~/Content/index_files/style.css" rel="stylesheet">
    <!--responsive.css -->
    <link href="~/Content/index_files/responsive.css" rel="stylesheet" />

    <style>
        * {
            font-family: 'Source Sans Pro', sans-serif !important;
        }

        .carousel-caption, .carousel-caption h5 {
            color: #fff !important;
            font-size: 1.2em;
        }
    </style>
    <link href="~/Content/index_files/css" rel="stylesheet">
</head>


    <body style="background:#fcfcfc !important;" id="regBody">
        <div id="popup-search-box-id" class="popup-search-box">
            <div class="container jumbotron">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="popup-search-box-inner">
                            <form action="#">
                                <div class="row">
                                    <div class="col-md-10">
                                        <input type="search" placeholder="Search here...">
                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit"><i class="mdi mdi-search-web menu-icon"></i></button>
                                    </div>
                                </div>
                            </form>
                            <span class="close-btn-search"><i class="mdi mdi-close"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="welcome-area">
            <div class="header-area header-absolute">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <div class="logo">
                                <a href="#"><img src="~/Content/index_files/logo.png" /></a>

                            </div>
                        </div>
                        <div class="col-md-6 col-sm-8">
                            <div class="mainmenu">
                                <ul id="slicknav-menu-list">
                                    <li>
                                        <a href="#">Home</a>
                                        <ul>
                                            <li><a href="@Url.Action("Index","Home")"</a></li>
                                           
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#tours.html">Tours</a>
                                        <ul>
                                            <li><a href="#tours-details.html">Tours Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#about-us.html">About</a></li>
                                    <li><a href="#destinations.html">Destination</a></li>
                                    <li>
                                        <a href="#team-member.html">Team</a>
                                        <ul>
                                            <li><a href="#team-details.html">Team Details</a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="#blog-medium.html">Blog</a>
                                        <ul>
                                            <li><a href="#blog-details.html">Blog Details</a></li>
                                            <li><a href="#blog-left-sidebar.html">Blog left sidebar</a></li>
                                            <li><a href="#blog-right-sidebar.html">Blog right Sidebar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-8 col-xs-6">
                            <div class="header-right">
                                
                                @*<a href="##" class="travel-cart"><img src="~/Content/index_files/cart-icon-img.png" /><span>0</span></a>

                                    <a href="##" class="search-icon-header"><i class="mdi mdi-search-web menu-icon"></i></a>*@

                                @*<a href="@Url.Action("Login", "Account", new { Area="Security"})">Login</a>
                                    <a href="@Url.Action("Register", "Account", new { Area="Security"})">Register</a>*@

                                @*@using (Html.BeginForm("LogOff", "Account", new { Area = "Security" }, FormMethod.Post, new { id = "logoutForm" }))
                                {
                                    @Html.AntiForgeryToken()


                                    <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-lock"></i>Logout</a>

                                }*@
                            </div>
                            <div class="slicknav-menu-wrap">
                                <div class="slicknav_menu">
                                    <a href="##" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style=""><span class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><ul class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
                                        <li class="slicknav_collapsed slicknav_parent">
                                            <a href="##" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="">
                                                <a href="#" tabindex="-1">Home</a>
                                                <span class="slicknav_arrow">►</span>
                                            </a><ul role="menu" class="slicknav_hidden" aria-hidden="true" style="display: none;">
                                                <li><a href="#index-2.html" role="menuitem" tabindex="-1">Hompage two</a></li>
                                                <li><a href="#index-3.html" role="menuitem" tabindex="-1">Hompage three</a></li>
                                            </ul>
                                        </li>
                                        <li class="slicknav_collapsed slicknav_parent">
                                            <a href="##" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="">
                                                <a href="#tours.html" tabindex="-1">Tours</a>
                                                <span class="slicknav_arrow">►</span>
                                            </a><ul role="menu" class="slicknav_hidden" aria-hidden="true" style="display: none;">
                                                <li><a href="#tours-details.html" role="menuitem" tabindex="-1">Tours Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#about-us.html" role="menuitem" tabindex="-1">About</a></li>
                                        <li><a href="#destinations.html" role="menuitem" tabindex="-1">Destination</a></li>
                                        <li class="slicknav_collapsed slicknav_parent">
                                            <a href="##" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="">
                                                <a href="#team-member.html" tabindex="-1">Team</a>
                                                <span class="slicknav_arrow">►</span>
                                            </a><ul role="menu" class="slicknav_hidden" aria-hidden="true" style="display: none;">
                                                <li><a href="#team-details.html" role="menuitem" tabindex="-1">Team Details</a></li>
                                            </ul>
                                        </li>
                                        <li class="slicknav_collapsed slicknav_parent">
                                            <a href="##" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="">
                                                <a href="##" tabindex="-1">Page</a>
                                                <span class="slicknav_arrow">►</span>
                                            </a><ul role="menu" class="slicknav_hidden" aria-hidden="true" style="display: none;">
                                                <li><a href="#car-booking.html" role="menuitem" tabindex="-1">Car Booking</a></li>
                                                <li><a href="#car-list.html" role="menuitem" tabindex="-1">Car List</a></li>
                                                <li><a href="#car-details.html" role="menuitem" tabindex="-1">Car Details</a></li>
                                                <li><a href="#flight-home.html" role="menuitem" tabindex="-1">Flight Home</a></li>
                                                <li><a href="#flight-booking.html" role="menuitem" tabindex="-1">Flight Booking</a></li>
                                                <li><a href="#flight-details.html" role="menuitem" tabindex="-1">Flight Details</a></li>
                                                <li><a href="#hotel-list.html" role="menuitem" tabindex="-1">Hotel List</a></li>
                                                <li><a href="#hotel-details.html" role="menuitem" tabindex="-1">Hotel Details</a></li>
                                                <li><a href="#hotel-booking.html" role="menuitem" tabindex="-1">Hotel Booking</a></li>
                                                <li><a href="#shop.html" role="menuitem" tabindex="-1">Shop</a></li>
                                                <li><a href="#shop-details.html" role="menuitem" tabindex="-1">Shop Details</a></li>
                                                <li><a href="#cart.html" role="menuitem" tabindex="-1">Cart</a></li>
                                                <li><a href="#checkout.html" role="menuitem" tabindex="-1">Checkout</a></li>
                                                <li><a href="#contact-us.html" role="menuitem" tabindex="-1">Contact Us</a></li>
                                                <li><a href="#contact-us-v2.html" role="menuitem" tabindex="-1">Contact Us 2</a></li>
                                                <li><a href="#404.html" role="menuitem" tabindex="-1">404 Error</a></li>
                                                <li><a href="#404-v2.html" role="menuitem" tabindex="-1">404 Error 2</a></li>
                                                <li><a href="#" role="menuitem" tabindex="-1"></a></li>
                                            </ul>
                                        </li>
                                        <li class="slicknav_collapsed slicknav_parent">
                                            <a href="##" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="">
                                                <a href="#blog-medium.html" tabindex="-1">Blog</a>
                                                <span class="slicknav_arrow">►</span>
                                            </a><ul role="menu" class="slicknav_hidden" aria-hidden="true" style="display: none;">
                                                <li><a href="#blog-details.html" role="menuitem" tabindex="-1">Blog Details</a></li>
                                                <li><a href="#blog-left-sidebar.html" role="menuitem" tabindex="-1">Blog left sidebar</a></li>
                                                <li><a href="#blog-right-sidebar.html" role="menuitem" tabindex="-1">Blog right Sidebar</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
                <img src="~/Content/Images/03big.jpg" style="height:550px; width:100%;" />
           

            @RenderBody()




        </div>


    </body>

</html>
