﻿@model HMS.Models.LoginViewModel

@{
    ViewBag.Title = "Update Information";
    Layout = "~/Areas/Customers/Views/Shared/_CustomerLayout.cshtml";
}

<link href="~/Content/materialize/css/materialize.min.css" rel="stylesheet" />
<script src="~/Content/materialize/js/materialize.min.js"></script>
@*<link href="~/Content/Site.css" rel="stylesheet" />*@

@using (Html.BeginForm("BookGuest", "Home", new { Area = "Cutomers" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class=" container row myForm" id="regBody">
        <div class="card">
            <div class="header">
                <h3 class="title">Update Details</h3><hr />
            </div>
            <div class="content">
                <div class="">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="row">
                       
                            <div class="col-md-6">
                                <label>Email</label>
                                @Html.EditorFor(model => model.Person.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Person.Email, "", new { @class = "text-danger" })
                            </div>
                        <div class="col-md-6">
                            <label>Surname</label>
                            @Html.EditorFor(model => model.Person.Surname, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Person.Surname, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                <label>FirstName</label>

                                @Html.EditorFor(model => model.Person.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                <label>Other Name</label>

                                @Html.EditorFor(model => model.Person.OtherName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.OtherName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                <label>Phone Number</label>

                                @Html.EditorFor(model => model.Person.MobilePhone, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Person.MobilePhone, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                <label>Address</label>

                                @Html.EditorFor(model => model.Person.Address, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Person.Address, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-md-6">
                                <label>Gender</label>

                                @Html.DropDownListFor(model => model.Person.Gender.GenderId, (IEnumerable<SelectListItem>)ViewBag.Gender, new { @class = "form-control", @id = "plan" })
                                @Html.ValidationMessageFor(model => model.Gender.GenderId)



                            </div>
                            <div class="col-md-6">
                                <label>Country</label>

                                @Html.DropDownListFor(model => model.Person.Country.CountryId, (IEnumerable<SelectListItem>)ViewBag.Country, new { @class = "form-control", @id = "plan" })
                                @Html.ValidationMessageFor(model => model.Person.Country.CountryId)



                            </div>
                            <div class="col-md-6">
                                <label>Id Type</label>

                                @Html.DropDownListFor(model => model.Person.IdType.IdTypeId, (IEnumerable<SelectListItem>)ViewBag.IdType, new { @class = "form-control", @id = "plan" })
                                @Html.ValidationMessageFor(model => model.Person.IdType.IdTypeId)



                            </div>
                        </div>

                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" value="Add Guest" class="btn btn-warning" />
                            @*<a href="@Url.Action("Index", "Home")" class="btn btn-default">Back To Room List</a>*@
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @if (TempData["Message"] != null)
                            {
                                @Html.Partial("_Message", (HMS.Model.Model.Message)TempData["Message"])
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

}

