﻿@model HMS.Models.LoginViewModel

@{
    ViewBag.Title = "Update Information";
    Layout = "~/Areas/Customers/Views/Shared/_CustomerLayout.cshtml";
}

<link href="~/Content/materialize/css/materialize.min.css" rel="stylesheet" />
<script src="~/Content/materialize/js/materialize.min.js"></script>
@*<link href="~/Content/Site.css" rel="stylesheet" />*@

    @using (Html.BeginForm("UpdateDetails", "Home", new { Area = "Cutomers" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class=" container row myForm" id="regBody">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Update Details</h3>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @Html.HiddenFor(model => model.Person.PersonId, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.HiddenFor(model => model.Person.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
                        @*@Html.HiddenFor(model => model.Person.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        @Html.HiddenFor(model => model.Person.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="row">
                            <div class="col-sm-12">
                                <label>First Name</label>
                                @Html.EditorFor(model => model.Person.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Person.FirstName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-12">
                                <label>Other Name</label>

                                @Html.EditorFor(model => model.Person.OtherName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.OtherName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-12">
                                <label>Phone Number</label>

                                @Html.EditorFor(model => model.Person.MobilePhone, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Person.MobilePhone, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-12">
                                <label>Address</label>

                                @Html.EditorFor(model => model.Person.Address, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Person.Address, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-sm-4">
                                <label>Gender</label>

                                @Html.DropDownListFor(model => model.Person.Gender.GenderId, (IEnumerable<SelectListItem>)ViewBag.Gender, new { @class = "form-control", @id = "plan" })
                                @Html.ValidationMessageFor(model => model.Gender.GenderId)



                            </div>
                            <div class="col-sm-4">
                                <label>Country</label>

                                @Html.DropDownListFor(model => model.Person.Country.CountryId, (IEnumerable<SelectListItem>)ViewBag.Country, new { @class = "form-control", @id = "plan" })
                                @Html.ValidationMessageFor(model => model.Person.Country.CountryId)



                            </div>
                            <div class="col-sm-4">
                               <label>Id Type</label>
                                
                                    @Html.DropDownListFor(model => model.Person.IdType.IdTypeId, (IEnumerable<SelectListItem>)ViewBag.IdType, new { @class = "form-control", @id = "plan" })
                                    @Html.ValidationMessageFor(model => model.Person.IdType.IdTypeId)


                               
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <input type="submit" value="Update" class="btn btn-default" />
                                @*<a href="@Url.Action("Index", "Home")" class="btn btn-default">Back To Room List</a>*@
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @if (TempData["Message"] != null)
                                {
                                    @Html.Partial("_Message", (HMS.Model.Model.Message)TempData["Message"])
                                }
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
              
            </div>

    }

