﻿@model HMS.Areas.Admin.Models.AdminViewModel
@{
    ViewBag.Title = "PaymentDetails";
    Layout = "~/Views/Shared/_ReservationLayout.cshtml";
}

<div class="reservation_step">
    <ul>
        <li><a href="@Url.Action("Index","Home")"><span>1.</span>  Choose Date</a></li>
        <li><a href="@Url.Action("Standard", "Home")"><span>2.</span> Choose Room</a></li>
        <li><a href="@Url.Action("Standard","Home")"><span>3.</span> Make a Reservation</a></li>
        <li  class="active"><a href="@Url.Action("Standard","Home")"><span>4.</span> Confirmation</a></li>
    </ul>
</div>
<section class="check-out">

    @Html.AntiForgeryToken()
    <div class="container">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @*<div class="row">*@

        @*<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-lg-offset-1">*@
        <div class="col-md-6 col-sm-12 col-md-offset-3 col-sm-offset-0" style="box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);  padding:20px;">
            <h3 class="text-uppercase">Your payment details</h3>
            <hr />
            <div class="checkout_cart">
                <!-- ITEM -->
                <div class="cart-item">
                    <div class="row">
                        <div class="col-md-4 img">
                            <a href=""><img src="~/Content/Check Uot_files/checkout.jpg" alt="#" height="100px" width="120px"></a>
                        </div>
                        <div class="col-md-6 text">
                            <h3><a href="">@Html.DisplayFor(model => model.Payment.Person.FullName)</a></h3>
                            @{

                                <p> <b>@Model.Payment.Amount</b></p>
                            }

                        </div>
                    </div><br />
                   
                </div>
                <!-- END / ITEM -->
                <!-- ITEM -->

            </div>
            <div class="checkout-cartinfo" style="background:#f7f7f7; border:1px solid #f3f1f1; padding:10px;">

                <p><span>Booking Subttotal:</span>N @Model.Payment.Amount</p>
                <p><span>Charges:</span>0</p>
                <p><span>Order Total:</span><strong>N @Model.Payment.Amount</strong></p>

                            </div>
            <br />
            <div class="checkout-option">
                <h4>Paystack Payment</h4>
                @if (@Model.Paystack != null)
                {

                    <a id="paymentUrl" href="@Model.Paystack.authorization_url" target="_blank" class="btn btn-block btn-primary ">
                <b>Click here to Pay Online Using ATM/Debit Card</b></a>

                }
            </div>

        </div>
    </div>
   
    
</section>