﻿@model IEnumerable<HMS.Model.Model.Room>

@{
    Layout = null;
}

<div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
    @if (TempData["Message"] != null)
    {
        @Html.Partial("_Message", (HMS.Model.Model.Message)TempData["Message"])
    }
    <div class="reservation_content">
        <!-- RESERVATION ROOM -->
        @foreach (var item in Model)
        {
            <div class="reservation-room">
                <!-- ITEM -->
                <div class="reservation-room_item">
                    <h2 class="reservation-room_name"><a href="">@item.RoomType.Name</a></h2>
                    <div class="reservation-room_img">
                        <a href=""><img src="~/Content/Reservation 2_files/luxury.jpg" alt="#" class="img-responsive"></a>
                    </div>
                    <div class="reservation-room_text">
                        <div class="reservation-room_desc">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of</p>
                            <ul>
                                <li>@item.Name</li>
                                <li>Free Wi-Fi in all guest rooms</li>
                                <li>Separate sitting area</li>
                            </ul>
                        </div>
                        @*<a href="http://landing.engotheme.com/html/skyline/demo/reservation_2.html#" class="reservation-room_view-more">View More Infomation</a>*@
                        <div class="clear"></div>
                        <p class="reservation-room_price">
                            <span class="reservation-room_amout">N @item.RoomType.RoomCharge</span> / Night
                        </p><br />
                        <a href="@Url.Action("RoomBook","Home", new { id = item.RoomId})" class="btn btn-room">BOOK NOW</a>
                        <a href="@Url.Action("RoomReserve","Home", new { id = item.RoomId})" class="btn btn-room">RESERVE NOW</a>
                    </div>
                    @*<div class="reservation-room_package">
                            <a data-toggle="collapse" href="http://landing.engotheme.com/html/skyline/demo/reservation_2.html#reservation-room_package-1" class="reservation-room_package-more collapsed">Show more package</a>
                            <div class="reservation-room_package-content collapse" id="reservation-room_package-1">
                                <!-- ITEM PACKAGE -->
                                <div class="reservation-package_item">
                                    <div class="reservation-package_img">
                                        <a href="http://landing.engotheme.com/html/skyline/demo/reservation_2.html#"><img src="~/Content/Reservation 2_files/luxury.jpg" alt="#" class="img-responsive"></a>
                                    </div>
                                        <div class="reservation-package_text">
                                            <h4><a href="http://landing.engotheme.com/html/skyline/demo/reservation_2.html#">package standar</a></h4>
                                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                                            <div class="reservation-package_book-price">
                                                <p class="reservation-package_price">
                                                    <span class="amout">$330</span>
                                                </p>
                                                <a href="http://landing.engotheme.com/html/skyline/demo/reservation_2.html#" class="btn btn-room">Book package</a>
                                            </div>
                                        </div>
                                </div>
                                <!-- END / ITEM PACKAGE -->
                                <!-- ITEM PACKAGE -->
                                <div class="reservation-package_item">
                                    <div class="reservation-package_img">
                                        <a href="http://landing.engotheme.com/html/skyline/demo/reservation_2.html#"><img src="~/Content/Reservation 2_files/STANDARD.jpg" alt="#" class="img-responsive"></a>
                                    </div>
                                    <div class="reservation-package_text">
                                        <h4><a href="http://landing.engotheme.com/html/skyline/demo/reservation_2.html#">package standar</a></h4>
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                                        <div class="reservation-package_book-price">
                                            <p class="reservation-package_price">
                                                <span class="amout">$330</span>
                                            </p>
                                            <a href="http://landing.engotheme.com/html/skyline/demo/reservation_2.html#" class="btn btn-room">Book package</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- END / ITEM PACKAGE -->
                                <!-- ITEM PACKAGE -->
                                <div class="reservation-package_item">
                                    <div class="reservation-package_img">
                                        <a href="http://landing.engotheme.com/html/skyline/demo/reservation_2.html#"><img src="~/Content/Reservation 2_files/STANDARD.jpg" alt="#" class="img-responsive"></a>
                                    </div>
                                    <div class="reservation-package_text">
                                        <h4><a href="http://landing.engotheme.com/html/skyline/demo/reservation_2.html#">package standar</a></h4>
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                                        <div class="reservation-package_book-price">
                                            <p class="reservation-package_price">
                                                <span class="amout">$330</span>
                                            </p>
                                            <a href="http://landing.engotheme.com/html/skyline/demo/reservation_2.html#" class="btn btn-room">Book package</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- END / ITEM PACKAGE -->
                            </div>
                        </div>*@
                </div>

            </div>
        }
        <!-- END / RESERVATION ROOM -->
    </div>
</div>