﻿@model HMS.Areas.Admin.Models.AdminViewModel 
@{
    ViewBag.Title = "ManageBookings";
    Layout = "~/Views/Shared/_ReservationLayout.cshtml";
}


<div class="row">
    @if (TempData["Message"] != null)
            {
        @Html.Partial("_Message", (HMS.Model.Model.Message)TempData["Message"])
    }

    @using (Html.BeginForm("ReservedRooms", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="check-left ">

                <div class="row">

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

                        <div class="form-group">
                            <label>Reference Number <span>*</span></label>

                            @Html.EditorFor(model => model.Payment.Pin, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Payment.Pin, "", new { @class = "text-danger" })
                        </div>


                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

                        <input type="submit" class="checkout-btn btn" value="Search" onclick="PopupForm(@Url.Action("ViewReservation","Home"))" />
                    </div>
                </div>

            </div>

        </div>
    }
  

</div>