﻿@model HMS.Areas.Admin.Models.AdminViewModel    
@{
    ViewBag.Title = "RoomBook";
    Layout = "~/Views/Shared/_ReservationLayout.cshtml";
}

<script type="text/javascript">
      $(document).ready(function () {
          $(".load").hide();
          demo.initChartist();

          $.notify({
              icon: 'ti-gift',
              message: "Check Your Email For Your Reservation details"

          }, {
                  type: 'success',
                  timer: 4000
              });

      });
</script>


<div class="reservation_step">
    <ul>
        <li><a href="@Url.Action("Index","Home")"><span>1.</span>  Choose Date</a></li>
        <li><a href="@Url.Action("Standard", "Home")"><span>2.</span> Choose Room</a></li>
        <li class="active"><a href="@Url.Action("Standard","Home")"><span>3.</span> Make a Reservation</a></li>
        <li><a href="@Url.Action("Standard","Home")"><span>4.</span> Confirmation</a></li>
    </ul>
</div>
<section class="check-out">
    @using (Html.BeginForm("RoomBook", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="container">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <p class="check-p">Returning customer? <a title=""> Click here to login</a></p>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="check-left ">
                        <h2>BILLING DETAILS</h2>
                        <p>Lorem Ipsum is simply dummy text</p>
                        @Html.HiddenFor(model => model.RoomType.RoomTypeId, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.HiddenFor(model => model.RoomBookings.ArrivalTime, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.HiddenFor(model => model.RoomBookings.CheckOutDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.HiddenFor(model => model.RoomBookings.NumOfNight, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.HiddenFor(model => model.RoomBookings.NumOfRooms, htmlAttributes: new { @class = "control-label col-md-2" })




                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

                                <div class="form-group">
                                    <label>First Name <span>*</span></label>

                                    @Html.EditorFor(model => model.Person.Surname, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Person.Surname, "", new { @class = "text-danger" })
                                </div>


                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label>Last Name <span>*</span></label>
                                    @Html.EditorFor(model => model.Person.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Person.FirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    @Html.EditorFor(model => model.Person.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Person.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label>Address <span>*</span></label>
                                    @Html.EditorFor(model => model.Person.Address, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Person.Address, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label>Gender &nbsp;<span>*</span></label>
                                    @Html.DropDownListFor(model => model.Person.Gender.GenderId, (IEnumerable<SelectListItem>)ViewBag.Gender, new { @class = "form-control", @id = "plan" })
                                    @Html.ValidationMessageFor(model => model.Person.Gender.GenderId)
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label>Country &nbsp;<span>*</span></label>
                                    @Html.DropDownListFor(model => model.Person.Country.CountryId, (IEnumerable<SelectListItem>)ViewBag.Country, new { @class = "form-control", @id = "plan" })
                                    @Html.ValidationMessageFor(model => model.Person.Country.CountryId)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label>ID Type &nbsp; <span>*</span></label>
                                    @Html.DropDownListFor(model => model.Person.IdType.IdTypeId, (IEnumerable<SelectListItem>)ViewBag.IdType, new { @class = "form-control", @id = "plan" })
                                    @Html.ValidationMessageFor(model => model.Person.IdType.IdTypeId)
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label>Phone &nbsp;<span>*</span></label>
                                    @Html.EditorFor(model => model.Person.MobilePhone, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Person.MobilePhone, "", new { @class = "text-danger" })


                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- item-right -->

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-lg-offset-1" style="box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); padding:20px;">
                    <div class="check-right ">
                        <h3 class="text-uppercase">Your payment details</h3><hr />
                        <div class="checkout_cart" style="background:#fcfcfc; border:1px solid #f1f1f1;">
                            <!-- ITEM -->
                            <div class="cart-item">
                                <div class="img">
                                    <a href=""><img src="~/Content/Check Uot_files/checkout.jpg" alt="#"></a>
                                </div>
                                <div>
                                    <a href="">@Html.DisplayFor(model => model.RoomType.Name)</a>
                                    @{
                                        var days = Model.RoomBookings.CheckOutDate.Day - Model.RoomBookings.CheckInDate.Day;
                                        var charges = Model.RoomType.RoomCharge * Model.RoomBookings.NumOfNight * Model.RoomBookings.NumOfRooms;
                                        <p><span>@Model.RoomBookings.NumOfNight Night(s)  </span><br /> <b>@Model.RoomType.RoomCharge / Nights</b><br /> For @Model.RoomBookings.NumOfRooms Room(s)</p>
                                    }

                                </div>
                                <a href="" class="remove"> <i class="ion-close-round" aria-hidden="true"></i></a>
                            </div>
                            <!-- END / ITEM -->
                            <!-- ITEM -->

                        </div>
                        <div class="checkout-cartinfo">

                            <p><span>Booking Subttotal:</span>N @charges</p>
                            <p><span>Charges:</span>0</p>
                            <p><span>Order Total:</span><strong>N @charges</strong></p>


                        </div>
                        <div class="checkout-option">
                            @*<div class="radio">
                                <label>
                                    <input type="radio" name="optradio">Direct Bank Transfer
                                    <span>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</span>
                                </label>
                            </div>*@
                            @*<div class="radio margin-bottom">
                                <label>
                                    <input type="radio" name="optradio">Cheque Payment
                                </label>
                            </div>*@
                            <div class="radio ">
                                <label class="padding-right">
                                    <input type="radio" name="optradio">Credit Card
                                </label>
                                <div class="card">
                                    <img src="~/Content/Check Uot_files/ex.png" alt="#" class="img-responsive">
                                    <img src="~/Content/Check Uot_files/mas.png" alt="#" class="img-responsive">
                                    <img src="~/Content/Check Uot_files/o.png" alt="#" class="img-responsive">
                                    <img src="~/Content/Check Uot_files/pay.png" alt="#" class="img-responsive">
                                    <img src="~/Content/Check Uot_files/visa.png" alt="#" class="img-responsive">
                                    <img src="~/Content/Check Uot_files/2co.png" alt="#" class="img-responsive">
                                </div>
                            </div>
                        </div>
                        @*<div class="checkout-btn btn">PLACE ORDER </div>*@
                        <input type="submit" class="checkout-btn btn" value="MAKE PAYMENT" id="book" />
                        <span style="display: none" class="load"><img src="~/Content/Images/bx_loader.gif" /></span>
                    </div>
                    <div id="divContentToPopup">
                        @if (TempData["Message"] != null)
                        {
                            @Html.Partial("_Message", (HMS.Model.Model.Message)TempData["Message"])
                        }
                    </div>
                   
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
                                        }
</section>

<script>
    $('#book').click(function () {
        $(this).speedoPopup(
            {
                width: 550,
                height: 265,
                useFrame: TRUE,
                href: '#divContentToPopup'
            });
    });


</script>
