﻿@model HMS.Areas.Admin.Models.AdminViewModel

@{
    ViewBag.Title = "AddGender";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout2.cshtml";
}

<div class="content container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Add/Edit Gender</h3>
        </div>
        @using (Html.BeginForm("AddGender", "Gender", new { Area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal", role = "form", @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Gender.GenderId)
                        <div class="row">
                            @Html.LabelFor(model => model.Gender.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.Gender.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Gender.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            @Html.LabelFor(model => model.Gender.Active, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.Gender.Active, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Gender.Active, "", new { @class = "text-danger" })
                            </div>
                        </div>
                       
                        @{
           
                        }


                        <div class="row">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Add" class="btn btn-default" />
                                <a href="@Url.Action("Index", "Gender")" class="btn btn-default">Back To List</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                @if (TempData["Message"] != null)
                                {
                                    @Html.Partial("_Message", (HMS.Model.Model.Message)TempData["Message"])
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        }



    </div>
</div>



